@{
    ViewBag.Title = "Xem chi tiết hóa đơn";
    decimal total = 0;
}
@model List<WebsiteTheFaceShop.Models.CTHOADON>

<h2>Chi tiết sản phẩm</h2>
<table class="table table-bordered">
    <tr>
        <th>Mã hóa đơn</th>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
        <th>Thành tiền</th>
        <th>Tình trạng</th>
    </tr>
    
    @foreach (var item in Model)
    {
        var sum = item.DonGia.GetValueOrDefault(0) * (decimal)item.SoLuong;
        total += sum;
        <tr>
            <td>@item.MaHD</td>
            <td>@item.SANPHAM.TenSP</td>
            <td>@item.SoLuong</td>
            <td>@item.DonGia.GetValueOrDefault(0).ToString("N0")</td>
            <td>@((sum).ToString("N0"))</td>
            <td>@item.TinhTrang</td>
        </tr>
    }
</table>
<h2>Tổng tiền: @total.ToString("N0") đ</h2>
@*<a class="btn btn-outline-primary text-decoration-none" href="/Admin/QL_SanPham/TrangChu">Trở về trang chủ</a>*@
@Html.ActionLink("Trở về trang chủ", "TrangChu", "QL_DonHang", null, new { @class = "btn btn-outline-primary text-decoration-none" })
